* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #082032;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Arimo', sans-serif;
}
header {
    background-color: #FF4C29;
    padding-top:10px;
    width: auto;
}
header h1{
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 3rem;
}
header p {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 18px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-left: 10px;
}
.cont__cuadradoycirculo{
    width: auto;
    margin-top: 20px;
}
#box{
    background-color: #2C394B;
    color: whitesmoke;
    height: 230px;
    border: 2px solid #FF4C29;
    border-radius: 10px;
    margin-bottom: 20px;
}
.calculo__cuadrado h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.subtitle{
    margin-left: 10px;
    font-size: 1.5rem;
}
.input__cuadrado{
    margin-top: 25px;
    margin-left: 10px;
    height: 30px;
}
.contenedor__padre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    border-radius: 15px;
    width: 40%;
    height: 40px;
    margin-top: 25px;
    margin-left: 20px;
}
.calculo__circulo h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.label__circulo{
    padding-left: 10px;
    font-size: 1.5rem;
}
.Input__circulo{
    margin-top: 25px;
    margin-left: 10px;
    height: 30px;
}
.button2{
    justify-content: space-around;
    border-radius: 15px;
    width: 100%;
    height: 40px;
    margin-top: 25px;
}
.box__triangulo{
    background-color: #2C394B;
    /* aqui trabajaremos ell css del triangulo */
    color: whitesmoke;
    border: 2px solid #FF4C29;
    border-radius: 10px;
    margin-top: 20px;
    width: auto;
    height: 430px;
}
.box__triangulo h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}
.label_triangulo{
    display: block;
    padding-left: 15px;
    font-size: 1.5rem;
    margin-top: 20px;    
}
.inp__triangulo{ 
    margin-top: 20px;
    margin-left: 10px;
    height: 30px;
}
.caja__botones{
    display:flex;
    justify-content: space-around;
    width: 100%;
}
.button__triangulo{
    border-radius: 15px;
    margin-top: 20px;
    width: 100%;
    height: 40px;
}
