:root {
    --naranja: #FF4C29;
    --azul-oscuro: #082032;
    --blanco: white;
    --blanco-humo: whitesmoke;
    --chocolate: chocolate;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--azul-oscuro);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Arimo', sans-serif;
}
header {
    background-color: var(--naranja);
    padding-top:10px;
    width: auto;
}
header h1{
    color:var(--blanco);
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 3rem;
}
header p {
    display: flex;
    justify-content: center;
    color: var(--blanco-humo);
    font-size: 18px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-left: 10px;
}
.cont__cuadradoycirculo{
    width: 320;
    margin-top: 20px;
}
#box{
    background-color: var(--azul-oscuro);
    color: var(--blanco-humo);
    height: 230px;
    border: 2px solid var(--naranja);
    border-radius: 10px;
    margin-bottom: 20px;
}
.calculo__cuadrado h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.subtitle{
    margin-left: 10px;
    font-size: 1.5rem;
}
.input__cuadrado{
    margin-top: 25px;
    margin-left: 10px;
    height: 30px;
}
.contenedor__padre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    border-radius: 15px;
    width: 40%;
    height: 40px;
    margin-top: 25px;
    margin-left: 20px;
}
.calculo__circulo h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.label__circulo{
    padding-left: 10px;
    font-size: 1.5rem;
}
.Input__circulo{
    margin-top: 25px;
    margin-left: 10px;
    height: 30px;
}
.button2{
    justify-content: space-around;
    border-radius: 15px;
    width: 100%;
    height: 40px;
    margin-top: 25px;
}
.box__triangulo{
    background-color: var(--azul-oscuro);
    /* aqui trabajaremos ell css del triangulo */
    color: var(--blanco-humo);
    border: 2px solid var(--naranja);
    border-radius: 10px;
    margin-top: 20px;
    width: auto;
    height: 430px;
}
.box__triangulo h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}
.label_triangulo{
    display: block;
    padding-left: 15px;
    font-size: 1.5rem;
    margin-top: 20px;    
}
.inp__triangulo{ 
    margin-top: 20px;
    margin-left: 10px;
    height: 30px;
}
.caja__botones{
    display:flex;
    justify-content: space-around;
    width: 100%;
}
.button__triangulo{
    border-radius: 15px;
    margin-top: 20px;
    width: 100%;
    height: 40px;
}
footer {
    background:var(--naranja);
    color: var(--blanco-humo);
    font-size: 1.5rem;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
}
/*Aqui inicia el media queri
@media (min-width:321px){
    .cont__cuadradoycirculo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #box{
        width: 720px;
        justify-content: space-between;
    }
}
*/